# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project Data & Outputs (Heavy files)
data/
outputs/
trimmed_output.mp3

# Research and Analysis (Side jobs)
research_and_analysis/
analyze_breaks.py

# OS
.DS_Store
